<%- include('partials/header') %>


    <title>Create a Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group select,
        .form-group input[type="text"],
        .form-group input[type="file"],
        .form-group textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        .form-group textarea {
            height: 150px;
            resize: vertical;
        }

        .btn {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn:hover {
            background-color: #45a049;
        }

        #customInput {
            display: none;
        }

        #customInputLabel {
            display: none;
        }
    </style>
    <script>
        function handleSelectionChange(selectElement) {
            var inputElement = document.getElementById('customInput');
            var label = document.getElementById('customInputLabel');

            if (selectElement.value === 'custom') {
                inputElement.style.display = 'block';
                label.style.display = 'block';
                inputElement.value = 'Enter the new Category here';
                inputElement.focus();
            } else {
                inputElement.style.display = 'none';
                label.style.display = 'none';
                inputElement.value = '';
            }
        }

        async function submitForm(event) {
            event.preventDefault();

            var selectedOption = document.getElementById('options').value;
            var customInputValue = document.getElementById('customInput').value;
            var name = document.getElementById('name').value;
            var quantity = document.getElementById('quantity').value;
            var price = document.getElementById('price').value;
            var image = document.getElementById('image').files[0];
            var errorContext = document.querySelector('.error');
            var description = document.getElementById('description').value;

            const formData = new FormData();
            formData.append('category', selectedOption === 'custom' ? customInputValue : selectedOption);
            formData.append('name', name);
            formData.append('image', image);
            formData.append('price', price);
            formData.append('quantity', quantity);
            formData.append('description', description);
            //console.log(formData.entries())
            errorContext.textContent = ''
            // Display form data in the console
            for (var pair of formData.entries()) {
                //console.log(pair[0] + ':', pair[1]);

            }
            try {
                const res = await fetch('addProductPost', {
                    method: 'POST',
                    body: formData
                })

                const data = await res.json();
                if (data.errors) {
                    errorContext.textContent = data.errors;
                }
                if (data.success) {
                    //console.log("Blog Created Successfully");
                    toastr.success(data.success);
                    setTimeout(function () {
                        location.assign('/home');
                        resolve();
                    }, 1500);
                }
            }
            catch (err) {
                //console.log("err");
                //console.log(err);
            }
        }
    </script>

    <body>
        <div class="container">
            <h1>Create the Product</h1>
            <div class="error"></div>
            <form onsubmit="submitForm(event)">
                <div class="form-group">
                    <label for="options">Select a Category:</label>
                    <select id="options" onchange="handleSelectionChange(this)">
                        <option value="">-- Select --</option>
                        <% for (let category of categories) { %>
                            <option value=<%=category._id%>><%=category.name%>
                            </option>
                            <% } %>
                                <option value="custom">Custom</option>
                    </select>
                    <label id="customInputLabel" for="customInput">Enter a custom value:</label>
                    <input type="text" id="customInput">

                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter the Name of the Product">
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" min="1" id="price" name="price" placeholder="Enter the price">
                </div>
                <div class="form-group">
                    <label for="quantity">quantity:</label>
                    <input type="number" min="1" id="quantity" name="quantity" placeholder="Enter the price">
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description"
                        placeholder="Write the description of the blog"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>

        <%- include('partials/footer') %>