<%- include('partials/header') %>

    <form>
        <h1>Forgot Password </h1>
        <label>Email</label>
        <input type="text" name="email" required>
        <div class="email error"></div>

        <button>Verify</button>

    </form>
    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email.error')


        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const email = form.email.value;
            emailError.textContent = ''

            try {
                const res = await fetch('/forgotPassword', {
                    method: "POST",
                    body: JSON.stringify({ email }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                //console.log(Object.keys(data));
                if (data.errors) {
                    if (data.errors?.email) {
                        emailError.textContent = data.errors?.email
                    }
                }
                if (data?.user ?? null) {
                    location.assign('/verifyOTP');
                }
            }
            catch (e) {
                //console.log(e);
            }
        })
    </script>

    <% -include('partials/footer') %>